<div class="row">
  <label class="col-sm-12">Delay next step by</label>
  <div class="col-sm-2">
    <input ng-model="qty" ng-change="updateString()" ng-disabled="unit === 'time'" size="2" class="form-control" />
  </div>
  <div class="col-sm-10">
    <select ng-model="unit" ng-change="updateString()" class="form-control" >
      <option value="time">(no delay)</option>
      <option value="DAY">day(s)</option>
      <option value="WEEK">week(s)</option>
      <option value="MONTH">month(s)</option>
    </select>
    <div class="chasse-validation-message" ng-if="unit === 'time'" >Warning: if
      you do not have a delay then contacts will progress through this step
      whenever the journey runs. If you are using automatic scheduling enabled
      then journeys are processed every time cron fires which could be every 5
      minutes. So if you successive steps without a delay the contact will be
      processed through them all in a matter of minutes, which is probably not
      what you want.
      <div>
  </div>
</div>
