/* Add any CSS rules for Angular module "chasse" */
.chasse-container {
  padding:0 2rem;
}
.chasse-panel-with-actions {
  display: flex;
  justify-content: space-between;
}
.chasse-panel-with-actions * {
    flex: 1 1 auto;
}
.chasse-panel-with-actions .chasse-panel-actions {
    flex: 0 0 auto;
}

.chasse-diagram {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  max-width: 100%;
  box-sizing: border-box;
  border-left: solid 1px #eee;
  margin-bottom: 2rem;
}
.chasse-diagram * {
  box-sizing: border-box;
}
.chasse-step-container {
  flex: 0 1 10rem;
  position: relative;
  height:12rem;
  border-right: solid 1px #eee;
}
.chasse-step-name {
  text-align: center;
  border-bottom: solid 1px #eee;
  padding: 0 0 0.2rem;
  color: #464354;
  height: 2rem;
}
/** Divide into 2 **/
.chasse-diagram-step-inner {
  display:inline-block;
  height: 10rem;
  position:relative;
  width: 100%;
}
.chasse-diagram-step-inner.half {
  width: 50%;
}
.chasse-diagram-step-inner--wait {
  border-right: solid 1px #eee;
  width: 48%; /* bodge for ancient browsers that probably won't work anyway.... */
  width: calc(50% - 1px); /* allow for the border */
}
.chasse-diagram-bar-container {
  height:7rem;
  position: relative;
}
.chasse-diagram-action-container {
  height:3rem;
  width:100%;
  left: 50%;
  position: absolute;
  padding:0 0.3rem;

}
.chasse-bar {
  position: absolute;
  bottom:0;
  width: 100%;
  background: #0071bd; /* shoreditch accent primary */
  background: #A6CDE8; /* faded version */
  border-radius: 2px 2px 0 0;
}
.chasse-label {
  position: absolute;
  bottom:0;
  width: 100%;
  text-align: center;
  border-bottom: solid 1px #ddd;
}
.chasse-next {
  height: 3rem;
  text-align: center;
  color: #4d4d69;
  padding:0.2rem 0 0;
  /*
  background: #f3f6f7;
  padding: 0.2rem 0 0.5rem;
  border-radius: 0 0 1rem 1rem;
  */
}

.chasse-next .ui-icon {
  font-size:1rem;
  width:1rem;
  height:1rem;
  margin-top:0;
}
.chasse-huddle {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  display: inline-block;
  border-radius: 2rem;
  text-align: center;
  background: red;
}
.chasse-wait {display:inline-block; position: relative;}
.chasse-wait:before {
  position: absolute;
  border-bottom:solid 2px red;
  content:'';
  display:block;
  width:100%;
  margin-top:-0.5rem;
}

.chasse-schedule-day {
}
.chasse-schedule-day>span {
}
.chasse-validation-message { color: #cf3458; /* Bootstrap red */ }

.chasse-icon-box {
  padding-left: 2rem;
}
.chasse-step-config i.ui-icon,
.chasse-icon-box i.ui-icon {
  position: absolute;
  margin-left: -2rem;
  margin-top: 0.1em;
  width:1.5rem;
  font-size:1.5rem;
  height:1.5rem;
  color: #0071bd;
}

.chasse-step-config {
  padding: 1rem 1rem 1rem 3rem;
}
.chasse-step-config i.ui-icon {
  margin-left: -3rem;
}
.chasse-step-config-container {
  padding-bottom: 1rem;
}
.chasse-step-config-container {

  padding-top: 1rem;
  border-bottom: solid 1px #eee;

}
.chasse-step-config-move-buttons button {
  width:100%;
}
.chasse-step-config-move-buttons>div {
  margin-top: 0.5rem;
}
